.App {
  width: 100%;
}

/* clear */
div,
fieldset,
hr,
img {
  border: none;
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
lengend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
div {
  box-shadow: none;
}
/* button,
h4,
h5,
h6,
input,
select,
textarea {
  font-size: 100%;
} */
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: 'Courier New', Courier, monospace;
}
small {
  font-size: 12px;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:after,
q:before {
  content: '';
}
legend {
  color: #000;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  height: 1px;
}
html {
  overflow-y: scroll;
}
